/__pycache__
/common/__pycache__
/algorithm/kamadaKawaiBase/__pycache__
/algorithm/SGDBase/__pycache__
/algorithm/__pycache__
/all_result
/comp_result
/egraph-rs
/past
/graphSet/contest_graph
/gomi

/pacificvis2024_log/